{% paginate blog.articles by 5 %}

<div class="large-12 columns" id="pagination">

	{% if current_tags %}
	<h1>{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}</h1>
	{% else %}
	<h1>{{ blog.title }}</h1>
	{% endif %}


	  {% for article in blog.articles %}
	  <div class="blog-article{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
		<h2 class="blog-article-title">
			<a href="{{ article.url }}">{{ article.title }}</a>
		</h2>
		<h3 class="blog-article-date">
			<time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
		</h3>
		<div class="rte">
			{% if article.excerpt.size > 0 %}
				{{ article.excerpt }}
			{% else %}
				<p>{{ article.content | strip_html | truncatewords: 100 }}</p>
			{% endif %}
		</div>
		<div class="row">
			<div class="large-3 columns">
				<ul class="blog-article-meta">
				  {% if blog.comments_enabled? %}
				  <li class="blog-article-meta-comments">
					<a href="{{ article.url }}#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
				  </li>
				  {% endif %}
				  {% if article.tags.size > 0 %}
					{% for tag in article.tags %}
						<li class="tag">
							<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
						</li>
					{% endfor %}
				  {% endif %}
				</ul>
			</div>
			<div class="large-9 columns read-more">
				<a class="button small" href="{{ article.url }}">Read More →</a>
			</div>
		</div>
	  </div>
	  {% endfor %}

  
	{% if paginate.pages > 1 %}
	<div id="pagination">
	  {% comment %}
	  When paginating blog articles, a previous article is actually a newer article, not an older one,
	  because blog articles are shown and paginated in a reversed chronological order.
	  The word 'previous' can be confusing, hence we'll change it.
	  {% endcomment %}
	  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
	{% endif %}
	
</div>

{% endpaginate %}